body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333;
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

h2 {
    color: #444;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
}

/* estilo para la tabla */
table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(133, 60, 222, 0.1);
}

th, td {
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    color: #555;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #e2e2e2;
}

/* estilo para el total calculado */
h2 {
    color: #333;
    margin-top: 40px;
    text-align: center;
}

p {
    font-size: 1.2em;
    color: #555;
    text-align: center;
}

/* For responsive design */
@media (max-width: 768px) {
    table {
        width: 100%;
        font-size: 14px;
    }

    th, td {
        padding: 8px;
    }
}
